/AttackType.class
/Heal.class
/HolyStrike.class
/NullAttack.class
/NullSpecialAttack.class
/Rage.class
/RapidShot.class
/Shoot.class
/Slash.class
/Smash.class
/SpecialAttack.class
/Tackle.class
/ThunderBolt.class
